{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="contact-container">
        <h2>Contact Us</h2>
        <form method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            
            <button type="submit">Send Message</button>
        </form>
    </div>
</body>
</html>