{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Marketplace</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Marketplace</h1>
    </header>
    <main>
       byeeeeeeeeee
    </main>
</body>